[submodule "Twitch-bot"]
	path = src/twitch-bot
	url = https://github.com/Kicshikxo/Twitch-bot
[submodule "Timetable-API"]
	path = src/timetable
	url = https://github.com/Kicshikxo/Timetable-API
[submodule "Memes-bot"]
	path = src/memes-bot
	url = https://github.com/Kicshikxo/Telegram-memes-bot
